<div class="container">

  <h1>Stupid Coaching</h1>

  <p class="action">Ask your coach anything :</p>


  <form action="/answer" class="input-group w-50">
    <input type="text" name="question" placeholder="What is your question?" class="form-control" aria-describedby="button-addon2">
    <input type="submit" value="Ask!" class="btn btn-primary">
  </form>
</div>
